extends ../layouts/main.jade
block page
  .flush-container
    header 
      section.title
        h1 Hello there.
        br
        h3 Here is a little mission statement of mine
      section.mission
        img.me(src="http://www.gravatar.com/avatar/662494429e06d1aa2ff71d9ccfcd8119?s=250")

    .detail-boxes
      section
        h2 What I Do
      section
        h2 Who I Am
      section
        h2 Get in Touch
