.page
  nav
    span #{NAME}
    ul
      li Item1
      li Item2
      li Item3
  .menu
    h3 Navigation
    ul 
      li MENU
    h4 More Navigation
    ul
      li Item1
      li Item2
      li Item3
  .main
    h3 Main Content
    div(ui-view="")

