nav
  span #{NAME}
  ul
    li
      a(ui-sref="app.dashboard") Dashboard
    li
      a(ui-sref="app.users") Users
    li
      a(ui-sref="app.properties") Properties
    li
      a(ui-sref="app.reports") Reports
    li
      a(ui-sref="app.map") Map
    li
      a(ui-sref="app.settings") Settings
